.about {
  .viewport-container {
    &_invisible {
      opacity: 0;
    }

    &_visible {
      animation: about-animation 0.4s ease;
    }
  }
}

@keyframes about-animation {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
