.page-title {
  --trans: 400ms ease;

  text-align: center;
  text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  right: 0;
  top: calc(42px + var(--header-height));
  line-height: var(--header-height);
  transition:
    transform var(--trans),
    opacity var(--trans),
    color var(--trans),
    font-size var(--trans);
  z-index: var(--z-index-main-title);
  font-family: 'Kaisei HarunoUmi', serif;

  &::first-letter {
    color: red;
  }

  &_on-top {
    color: #f0f2f5;
    pointer-events: none;
  }

  &.appear {
    transform: translateY(25px) !important;
    opacity: 0;
  }
}
