@use '../../assets/scss/vars' as *;

.contacts {
  a {
    font-weight: 600;
  }

  &__phone {
    white-space: nowrap;
  }

  @media screen and (min-width: $breakpoint-lg) {
    .card {
      max-width: 550px;
    }
  }
}
