@use '../../assets/scss/vars' as *;

.contacts {
  a {
    font-weight: 600;
  }

  &__phone {
    white-space: nowrap;
  }

  p {
    display: flex;
    flex-direction: column;
  }

  &__value {
    padding-left: 5px;
    display: flex;
    flex-direction: column;

    *:not(:last-child) {
      margin-right: 5px;
    }

    @media screen and (min-width: $breakpoint-sm) {
      flex-direction: row;
    }
  }

  @media screen and (min-width: $breakpoint-sm) {
    p {
      flex-direction: row;
    }
  }

  @media screen and (min-width: $breakpoint-lg) {
    .card {
      max-width: 550px;
    }
  }

  .card {
    &_hidden {
      opacity: 0;
      transform: translateX(-200px);
    }

    &_visible {
      animation: contacts-animation 0.4s ease;
    }
  }
}

@keyframes contacts-animation {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
