@use '../../assets/scss/vars' as *;

.contacts {
  padding: 32px var(--content-margin-inline);
  background: var(--c-blue);
  overflow: hidden;
  box-shadow:
    0 0 0.3px inset rgba(0, 0, 0, 0.034),
    0 0 0.7px  inset  rgba(0, 0, 0, 0.051),
    0 0 1.2px  inset  rgba(0, 0, 0, 0.063),
    0 0 1.7px  inset  rgba(0, 0, 0, 0.073),
    0 0 2.5px  inset  rgba(0, 0, 0, 0.082),
    0 0 3.5px  inset  rgba(0, 0, 0, 0.091),
    0 0 5px    inset  rgba(0, 0, 0, 0.1),
    0 0 7.3px  inset  rgba(0, 0, 0, 0.111),
    0 0 11.3px inset  rgba(0, 0, 0, 0.126),
    0 0 20px   inset  rgba(0, 0, 0, 0.16);
  will-change: transform;

  &_highlighted {
    animation: highlighted-animation 1000ms ease;
    transform-origin: top;
  }

  h3 {
    text-align: center;
    font-weight: 600;
  }

  a {
    font-weight: 600;
  }

  &__phone {
    white-space: nowrap;
  }

  p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  &__value {
    padding-left: 5px;
    display: flex;
    flex-direction: column;

    *:not(:last-child) {
      margin-right: 5px;
    }

    @media screen and (min-width: $breakpoint-sm) {
      flex-direction: row;
    }
  }

  @media screen and (min-width: $breakpoint-sm) {
    p {
      flex-direction: row;
    }
  }
}

@keyframes highlighted-animation {
  0% {
    transform: rotateX(0deg);
  }

  20% {
    transform: rotateX(-20deg);
  }

  40% {
    transform: rotateX(10deg);
  }

  60% {
    transform: rotateX(-5deg);
  }

  80% {
    transform: rotateX(3deg);
  }

  100% {
    transform: rotateX(0);
  }
}
