.info {
  padding-top: 50px;

  &__wrapper {
    position: relative;
  }

  &__content {
    font-size: 18px;
    line-height: 24px;
    margin-top: 74px;
    padding: 24px 0;
    transition: all 400ms ease;
  }

  &__logo-wrapper {
    text-align: center;
  }

  &__content-wrapper {
    //background: radial-gradient(143.75% 601.84% at -20.84% -95.13%, rgba(128, 128, 128, 0.461458) 0.01%, rgba(197, 197, 197, 0) 0.02%, #B1B2B7 100%);
    //background: radial-gradient(123.74% 2169.19% at 0% 0%, #FFFFFF 0%, rgba(161, 168, 205, 0.77432) 50.31%, rgba(81, 88, 123, 0.41) 99.27%);
    background: radial-gradient(92.16% 1413.86% at 34.82% 30%, #fff 0%, #d4dbff 60.73%, #acb2d2 99.27%);
    transition: opacity 400ms ease;
    opacity: 1;

    &.appear {
      .info__content {
        opacity: 0;
        transform: translateX(-50px);
      }

      opacity: 0;
    }
  }

  &__icons {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 32px;

    &::after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      //border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }

    svg {
      font-size: 100px;
      color: rgba(0, 0, 0, 0.1);

      &.appear {
        transform: translateY(50px);
        opacity: 0;
      }

      transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}
