@use '../../assets/scss/vars' as *;

.info {
  font-size: 22px;
  text-shadow: none;

  &__title {
    text-align: center;
    font-family: 'Dancing Script', serif;
    font-size: 48px;
    position: relative;
    line-height: 100%;
    margin: 0;
    font-weight: 700;
    text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
    color: white;
    padding-bottom: 16px;

    &::first-letter {
      color: red;
    }
  }

  &__wrapper {
    position: relative;
    padding: 48px 0;
  }

  &__content {
    line-height: 32px;
    text-shadow: 2px 2px 4px black;

    p:last-child {
      margin: 0;
    }
  }

  &__logo-wrapper {
    text-align: center;
  }

  &__logo {
    width: 100%;
    max-width: 200px;
    filter: drop-shadow(20px 30px 20px rgba(0, 0, 0, 1));
  }

  &__content-wrapper {
    color: white;
    font-weight: 500;
  }
}
