@use '../../assets/scss/vars' as *;

.info {
  font-size: 22px;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8);

  &__title {
    text-align: center;
    font-family: 'Dancing Script', serif;
    font-size: 48px;
    position: relative;
    line-height: 100%;
    margin: 0;
    font-weight: 700;
    text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
    color: white;
    padding-bottom: 16px;

    &::first-letter {
      color: red;
    }
  }

  &__wrapper {
    position: relative;
    padding: 48px 0;
  }

  &__content {
    line-height: 32px;

    p:last-child {
      margin: 0;
    }
  }

  &__logo-wrapper {
    text-align: center;
  }

  &__logo {
    width: 100%;
    max-width: 200px;
    filter: drop-shadow(20px 30px 20px rgba(0, 0, 0, 1));
  }

  &__content-wrapper {
    color: white;
    font-weight: 500;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: url(../../assets/i/ny8rSuCji5E.jpg) center 35% / cover no-repeat;
      filter: brightness(0.3);
    }
  }
}
