@use '../../assets/scss/vars' as *;

.info {
  --transition-duration: 350ms;

  min-height: 100vh;
  font-size: 16px;
  text-shadow: none;

  &__title {
    text-align: center;
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 32px;
    line-height: 100%;
    margin: 0;
    font-weight: 700;
    padding: 24px 0;
    animation: title-animation var(--transition-duration) both;
    text-shadow:
      0 0 10px rgba(255, 255, 255, 0.6),
      3px  1px 20px rgba(255, 255, 255, 0.6),
      2px  2px 20px rgba(255, 255, 255, 0.6),
      1px  3px 20px rgba(255, 255, 255, 0.6),
      -4px  4px 20px rgba(255, 255, 255, 0.6),
      -3px  5px 20px rgba(255, 255, 255, 0.6),
      -2px -2px 20px rgba(116, 238, 255, 0.6),
      -2px -2px 20px rgba(144, 249, 255, 0.63),
      -2px -2px 20px rgba(89, 123, 255, 0.44),
      -2px -2px 20px rgba(255, 255, 255, 0.6),
      -1px -3px 20px rgba(255, 255, 255, 0.6);

    &::first-letter {
      color: red; // TODO
    }

    @media screen and (min-width: $breakpoint-md) {
      font-size: 40px;
      padding: 48px 0;
    }

    @media screen and (min-width: $breakpoint-lg) {
      font-size: 48px;
    }

    @media screen and (min-width: $breakpoint-xl) {
      font-size: 54px;
    }
  }

  &__wrapper {
    position: relative;
    margin: 0 calc(-1 * var(--content-margin-inline));
  }

  &__content {
    line-height: 24px;
    padding: 24px 0;

    p:last-child {
      margin: 0;
    }
  }

  &__logo-wrapper {
    text-align: center;
  }

  &__logo {
    width: 100%;
    max-width: 200px;
  }

  &__content-wrapper {
    color: var(--c-dark-2);
    background: radial-gradient(92.16% 1413.86% at 34.82% 30%, rgb(221, 187, 255) 0%, #d4dbff 60.73%, #acb2d2 99.27%);
    animation: wrapper-animation var(--transition-duration) ease;
    font-weight: 500;
    box-shadow:
      0 0 1px rgba(0, 0, 0, 0.09),
      0 0 2.4px rgba(0, 0, 0, 0.129),
      0 0 4.5px rgba(0, 0, 0, 0.16),
      0 0 8px rgba(0, 0, 0, 0.191),
      0 0 15px rgba(0, 0, 0, 0.23),
      0 0 36px rgba(0, 0, 0, 0.32);
  }
}

@keyframes title-animation {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes wrapper-animation {
  from {
    opacity: 0;
    transform: scale(0.9);
    box-shadow: none;
  }

  to {
    opacity: 1;
    transform: scaleX(1);
    box-shadow:
      0 0 1px rgba(0, 0, 0, 0.09),
      0 0 2.4px rgba(0, 0, 0, 0.129),
      0 0 4.5px rgba(0, 0, 0, 0.16),
      0 0 8px rgba(0, 0, 0, 0.191),
      0 0 15px rgba(0, 0, 0, 0.23),
      0 0 36px rgba(0, 0, 0, 0.32);
  }
}
