.info {
  --transition-duration: 350ms;

  &__title {
    text-align: center;
    text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    padding: 48px 0;
    animation: slide-animation var(--transition-duration) both;

    &::first-letter {
      color: red;
    }
  }

  &__wrapper {
    position: relative;
  }

  &__content {
    font-size: 1.2em;
    line-height: 24px;
    padding: 24px 0;

    p:last-child {
      margin: 0;
    }
  }

  &__logo-wrapper {
    text-align: center;
  }

  &__logo {
    width: 200px;
    height: 200px;
  }

  &__content-wrapper {
    //background: radial-gradient(143.75% 601.84% at -20.84% -95.13%, rgba(128, 128, 128, 0.461458) 0.01%, rgba(197, 197, 197, 0) 0.02%, #B1B2B7 100%);
    //background: radial-gradient(123.74% 2169.19% at 0% 0%, #FFFFFF 0%, rgba(161, 168, 205, 0.77432) 50.31%, rgba(81, 88, 123, 0.41) 99.27%);
    background: radial-gradient(92.16% 1413.86% at 34.82% 30%, #fff 0%, #d4dbff 60.73%, #acb2d2 99.27%);
    animation: wrapper-animation 1000ms ease;
    transform-origin: top;
  }

  &__icons {
    margin-top: 128px;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 64px;
    animation: slide-animation var(--transition-duration) ease;

    &::after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }

    svg {
      font-size: 50px;
      color: rgba(0, 0, 0, 0.1);
    }
  }
}

@keyframes slide-animation {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes wrapper-animation {
  0% {
    transform: rotateX(30deg);
  }

  20% {
    transform: rotateX(-15deg);
  }

  40% {
    transform: rotateX(10deg);
  }

  60% {
    transform: rotateX(-5deg);
  }

  80% {
    transform: rotateX(3deg);
  }

  100% {
    transform: rotateX(0);
  }
}
