@use "../../assets/scss/mixins/box-shadow" as *;

.rent {
  padding: 64px var(--content-padding-inline);
  background: var(--c-light-bg);

  .viewport-container {
    &_invisible {
      opacity: 0;
      transform: translateX(50px);
    }

    &_visible {
      animation: rent-animation var(--animation-duration) var(--animation-shape);
    }
  }

  &__img {
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;

    img {
      @include box-shadow();
    }
  }
}

@keyframes rent-animation {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
