@use '../../assets/scss/vars' as *;
@use '../../assets/scss/mixins/box-shadow' as *;

.card {
  @include box-shadow();

  padding: 24px 16px;
  border-radius: 4px;
  background: var(--c-light-blue-2);

  @media screen and (min-width: $breakpoint-sm) {
    padding: 40px;
  }

  @media screen and (min-width: $breakpoint-lg) {
    padding: 48px;
  }

  input,
  .ant-input-affix-wrapper {
    border: 1px solid #8c8dff;
    font-weight: 500;
  }

  label {
    font-weight: 600;
    color: var(--c-dark);
  }
}
