.navbar {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: var(--z-index-navbar);
  justify-content: space-between;
  align-items: center;

  .ant-anchor-wrapper {
    overflow: visible;
  }

  &__item {
    height: var(--header-height);
    position: relative;
    overflow: visible;
  }

  .ant-anchor-link {
    transition: background-color 400ms;

    &::before {
      content: "";
      transition: background-color 400ms;
    }

    padding: 0 12px;
    display: inline-block;
    line-height: var(--header-height);

    > .ant-anchor-link-title {
      text-shadow: none;
      color: var(--c-gray-2);
    }

    &-active > .ant-anchor-link-title {
      color: var(--c-white);
    }
  }

  .ant-anchor-link-active {
    &::before {
      height: 2px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: white;
      content: "";
    }
    //background: radial-gradient(10.03% 20.49% at 69.34% 49.84%, rgba(219, 255, 0, 0.2) 0%, rgba(219, 255, 0, 0) 100%), radial-gradient(12.92% 26.39% at 30.82% 49.84%, rgba(5, 0, 255, 0.2) 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(19.28% 18.2% at 78.41% 49.84%, rgba(0, 255, 87, 0.25) 0%, rgba(51, 255, 0, 0) 100%), radial-gradient(32.54% 38.85% at 50% 50%, rgba(255, 21, 21, 0.5) 0%, rgba(255, 0, 0, 0) 100%), radial-gradient(18.2% 20.49% at 22.23% 49.84%, rgba(0, 255, 255, 0.2) 0%, rgba(0, 255, 255, 0) 100%), #001529;
    //background: radial-gradient(47.39% 30% at 50.08% 49.84%, rgba(255, 255, 255, 0.43) 0%, rgba(255, 255, 255, 0) 100%), #001529;
    background: var(--c-blue-2);
    overflow: visible;
  }

  a {
    display: inline-block;
  }

  // Customize Ant Design styles

  .ant-anchor-ink {
    display: none;
  }
}
