@use "../../assets/scss/vars" as *;

.brands {
  padding: 64px 0;
  background: var(--c-light-bg);

  .card {
    margin-top: 0;
  }

  ul {
    font-weight: 600;
  }

  h2 {
    text-align: center;
  }

  h3 {
    font-weight: 600;
  }
}
