.brands {
  .card {
    margin-top: 0;
  }

  h2 {
    text-align: center;
  }

  ul {
    text-align: center;
    list-style-type: none;
    margin: 0 auto;
    max-width: 200px;
    padding-inline-start: 0;

    li {
      font-weight: 500;
    }
  }
}
