@use "../../assets/scss/vars" as *;

.brands {
  .card {
    margin-top: 0;
  }

  .viewport-container {
    &_invisible {
      .card {
        transform: translateY(25px);
        opacity: 0;
      }
    }

    &_visible {
      .card {
        animation: brands-animation 0.4s ease;
      }
    }
  }

  h2 {
    text-align: center;
  }

  ul {
    li {
      font-weight: 600;
      font-size: 1.5em;
      position: relative;
      color: rgb(63, 0, 121);
      text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);

      @media screen and (min-width: $breakpoint-lg) {
        font-size: 2em;
      }
    }
  }
}

@keyframes brands-animation {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
