@use "../../assets/scss/mixins/box-shadow" as *;

.repair {
  padding: 64px var(--content-padding-inline);
  background: var(--c-light-bg);

  &__img-1 {
    @include box-shadow();

    width: 100%;
  }
}
