@use './assets/scss/vars' as *;

.ant-layout.app {
  padding: calc(var(--header-height)) 0 250px 0;
  background: transparent;
  overflow-x: hidden;

  &::after {
    content: "";
    position: fixed;
    top: 0;
    height: 100vh;
    left: 0;
    right: 0;
    z-index: -1;
    background: url(./assets/i/bg.webp) center center / cover;
  }

  .app__content {
    margin: 0 var(--content-margin-inline);
  }
}
