@use './assets/scss/vars' as *;

.ant-layout.app {
  padding: calc(var(--header-height)) 0 0 0;
  background: transparent;
  overflow-x: hidden;

  &::after {
    content: "";
    position: fixed;
    top: 0;
    height: 100vh;
    left: 0;
    right: 0;
    z-index: -1;
  }
}
