@use './assets/scss/vars' as *;

.ant-layout.app {
  padding: calc(var(--header-height)) 0 250px 0;
  background: url(./assets/i/bg.webp) top / cover no-repeat fixed var(--c-dark);

  .app__content {
    margin: 0 var(--content-margin-inline);
  }
}
