@use './assets/scss/vars' as *;

.ant-layout.app {
  padding: calc(var(--header-height)) 0 250px 0;
  background: transparent;

  &::after {
    content: "";
    position: fixed; /* stretch a fixed position to the whole screen */
    top: 0;
    height: 100vh; /* fix for mobile browser address bar appearing disappearing */
    left: 0;
    right: 0;
    z-index: -1; /* needed to keep in the background */
    background: url(./assets/i/bg8.png) center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .app__content {
    margin: 0 var(--content-margin-inline);
  }
}
