.ant-layout.app {
  --content-padding-inline: 200px;

  padding: calc(var(--header-height)) 0 250px 0;
  background: url(./assets/i/bg.webp) top / cover no-repeat fixed var(--c-dark);
  color: var(--c-light);

  .app__content {
    padding: 0 var(--content-padding-inline);
  }

  section {
    &:not(:first-child) {
      margin-top: 128px;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.57);
    }
  }
}
