@use './assets/scss/vars' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* variables */
  --header-height: 64px;
  --content-margin-block: 20px;
  --content-margin-inline: 5px;
  --content-padding-block: 50px;
  --content-padding-inline: 100px;

  @media screen and (min-width: $breakpoint-sm) {
    --content-margin-inline: 50px;
    --content-margin-block: 50px;
  }

  @media screen and (min-width: $breakpoint-lg) {
    --content-margin-inline: 100px;
  }

  @media screen and (min-width: $breakpoint-xl) {
    --content-margin-inline: 150px;
  }

  /* colors */
  --c-dark: #383838;
  --c-gray: #888;
  --c-dark-2: #232323;
  --c-white: #fff;
  --c-white-2: #a9a9a9;
  --c-black: #000;
  --c-light-blue: #40a9ff;

  /* z-index */
  --z-index-navbar: 100;
}

body,
.ant-card {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: var(--c-white);
}

*::selection {
  background: rgba(0, 0, 0, 0.58);
  color: var(--c-white);
}

@media screen and (min-width: $breakpoint-md) {
  body,
  .ant-card {
    //font-size: 16px;
  }
}

h2 {
  font-weight: bold;
  margin-bottom: 1.5em;
  color: var(--c-white);
}

ul {
  padding-left: 20px;
}

/* Antd */
.ant-menu.ant-menu-dark > .ant-menu-item:hover,
.ant-menu.ant-menu-dark {
  background: transparent;
}

.ant-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

a {
  font-weight: 600;
  color: var(--c-white);
  text-shadow: 1px 1px 10px rgb(52, 21, 255);
}

a:hover,
a:focus {
  color: var(--c-light-blue);
}

.card {
  background: rgba(0, 0, 0, 0.33);
  border: 1px solid var(--c-black);
  margin-top: var(--content-margin-block);
  backdrop-filter: blur(25px);
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 1);

  & > .ant-card-body {
    @media screen and (min-width: $breakpoint-sm) {
      padding: 40px;
    }

    @media screen and (min-width: $breakpoint-lg) {
      padding: 48px;
    }
  }
}

#brands,
#contacts,
#about {
  scroll-margin-block: calc(var(--header-height) + 20px);
}
