*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* variables */
  --header-height: 64px;
  --page-margin-inline: 200px;

  /* colors */
  --c-dark: #383838;
  --c-gray: #888;
  --c-dark-2: #232323;
  --c-light: rgba(255, 255, 255, 0.76);

  /* z-index */
  --z-index-navbar: 100;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;

  /* color: var(--c-light); */

  /* text-shadow: 1px 1px 0 var(--c-dark); */
}

*::selection {
  background: rgba(0, 0, 0, 0.58);
  color: white;
}

@media screen and (min-width: 992px) {
  body {
    font-size: 14px;
  }
}

h2,
h3,
h4,
h5,
h6 {
  /* color: var(--c-light); */
}

h2 {
  font-weight: bold;
}

ul {
  padding-left: 20px;
}

/* Antd */
.ant-layout {
  background: url(./assets/i/bg.png) top / cover no-repeat fixed;
}

.ant-menu.ant-menu-dark > .ant-menu-item:hover,
.ant-menu.ant-menu-dark {
  background: transparent;
}

.ant-layout-header {
  background: rgba(0, 0, 0, 0.2);
}

.ant-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

section.card {
  margin: 200px;
  padding-top: 48px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.58);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;

  /* backdrop-filter: blur(50px); */

  /* margin-top: -100px; */
}
