@use './assets/scss/vars' as *;

*,
*::before,
*::after,
ol,
ul,
dl {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* variables */
  --header-height: 64px;

  /* colors */
  --c-dark: #383838;
  --c-gray: #888;
  --c-dark-2: #232323;
  --c-white: rgb(255, 255, 255);
  --c-light-blue: #40a9ff;

  /* z-index */
  --z-index-navbar: 100;
}

body,
.ant-card {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: var(--c-white);
}

*::selection {
  background: rgba(0, 0, 0, 0.58);
  color: var(--c-white);
}

@media screen and (min-width: $breakpoint-md) {
  body,
  .ant-card {
    font-size: 16px;
  }
}

h2 {
  font-weight: bold;
  margin-bottom: 1.5em;
  color: var(--c-white);
}

ul {
  padding-left: 20px;
}

/* Antd */
.ant-menu.ant-menu-dark > .ant-menu-item:hover,
.ant-menu.ant-menu-dark {
  background: transparent;
}

.ant-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

a {
  font-weight: 600;
  color: var(--c-white);
  text-shadow: 1px 1px 10px rgb(52, 21, 255);
}

a:hover,
a:focus {
  color: var(--c-light-blue);
}

.section {
  background: rgba(0, 0, 0, 0.33);
  border: none;

  &:first-of-type {
    margin-top: 0;
  }

  @media screen and (min-width: $breakpoint-sm) {
    margin-top: 128px;
  }

  .ant-card {
    background: none;
  }
}

.section > .ant-card-body {
  padding: 40px;
}
