@use './assets/scss/vars' as *;

:root {
  /* variables */
  --header-height: 64px;
  --content-margin-inline: 10px;
  --content-margin-block: 16px;
  --content-padding-block: 50px;
  --content-padding-inline: 100px;
  --animation-duration: 400ms;
  --animation-shape: ease-out;

  @media screen and (min-width: $breakpoint-sm) {
    --content-margin-inline: 24px;
    --content-margin-block: 50px;
  }

  @media screen and (min-width: $breakpoint-lg) {
    --content-margin-inline: 100px;
  }

  @media screen and (min-width: $breakpoint-xl) {
    --content-margin-inline: 150px;
  }

  @media screen and (min-width: $breakpoint-xxl) {
    --content-margin-inline: 400px;
  }

  /* colors */
  --c-dark: #383838;
  --c-gray: #888;
  --c-gray-2: #a9a9a9;
  --c-dark-2: #232323;
  --c-white: #fff;
  --c-white-2: #eee;
  --c-black: #000;
  --c-light-blue: #40a9ff;
  --c-light-bg: rgba(255, 255, 255, 0.4);
  --c-light-blue-3: #005ba6;
  --c-blue: #001529;
  --c-blue-2: #002952;

  /* z-index */
  --z-index-navbar: 100;
}

body {
  //background: rgba(220, 227, 255, 0.85);
  background-image: url("./assets/i/lights.webp");
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

h2 {
  font-weight: 700;
  margin-bottom: 1.5em;
  //color: var(--c-blue-2);
}

/* Antd */
.ant-menu.ant-menu-dark > .ant-menu-item:hover,
.ant-menu.ant-menu-dark {
  background: transparent;
}

.ant-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

a:hover,
a:focus {
  color: #1717e1;
}

a:active {
  color: #080881;
}

#brands,
#contacts,
#rent {
  scroll-margin-block: calc(var(--header-height) + 20px);
}
