*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* variables */
  --header-height: 64px;

  /* colors */
  --c-dark: #383838;
  --c-gray: #888;
  --c-dark-2: #232323;
  --c-light: rgb(255, 255, 255);
  --c-light-blue: #40a9ff;

  /* z-index */
  --z-index-navbar: 100;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

*::selection {
  background: rgba(0, 0, 0, 0.58);
  color: white;
}

@media screen and (min-width: 992px) {
  body {
    font-size: 16px;
  }
}

h2 {
  font-weight: bold;
  margin-bottom: 1.5em;
  color: var(--c-light);
}

ul {
  padding-left: 20px;
}

/* Antd */
.ant-menu.ant-menu-dark > .ant-menu-item:hover,
.ant-menu.ant-menu-dark {
  background: transparent;
}

.ant-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

a {
  font-weight: 600;
  color: #fff;
  text-shadow: 1px 1px 10px rgb(52, 21, 255);
}

a:hover,
a:focus {
  color: var(--c-light-blue);
}
