@use './assets/scss/vars' as *;

:root {
  /* variables */
  --header-height: 64px;
  --content-margin-block: 20px;
  --content-margin-inline: 5px;
  --content-padding-block: 50px;
  --content-padding-inline: 100px;

  @media screen and (min-width: $breakpoint-sm) {
    --content-margin-inline: 24px;
    --content-margin-block: 50px;
  }

  @media screen and (min-width: $breakpoint-lg) {
    --content-margin-inline: 100px;
  }

  @media screen and (min-width: $breakpoint-xl) {
    --content-margin-inline: 150px;
  }

  /* colors */
  --c-dark: #383838;
  --c-gray: #888;
  --c-gray-2: #a9a9a9;
  --c-dark-2: #232323;
  --c-white: #fff;
  --c-white-2: #eee;
  --c-black: #000;
  --c-light-blue: #40a9ff;

  /* z-index */
  --z-index-navbar: 100;
}

body,
.ant-card {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  //text-shadow: 10px 10px 4px black;
}

*::selection {
  background: rgba(0, 0, 0, 0.58);
  color: var(--c-white);
}

h2 {
  font-weight: bold;
  margin-bottom: 1.5em;
}

/* Antd */
.ant-menu.ant-menu-dark > .ant-menu-item:hover,
.ant-menu.ant-menu-dark {
  background: transparent;
}

.ant-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

a {
  transition: all 400ms ease;
}

a:hover,
a:focus {
  color: blue;
  text-shadow: 1px 1px 7px rgba(0, 0, 255, 0.7);
}

.card {
  background: radial-gradient(92.16% 1413.86% at 34.82% 30%, rgba(221, 187, 255, 0.8) 0%, #d4dbff 60.73%, #acb2d2 99.27%);
  margin-top: var(--content-margin-block);
  padding: 24px 16px;
  border-radius: 4px;
  box-shadow:
    0 0 0.3px rgba(0, 0, 0, 0.034),
    0 0 0.7px rgba(0, 0, 0, 0.051),
    0 0 1.2px rgba(0, 0, 0, 0.063),
    0 0 1.7px rgba(0, 0, 0, 0.073),
    0 0 2.5px rgba(0, 0, 0, 0.082),
    0 0 3.5px rgba(0, 0, 0, 0.091),
    0 0 5px rgba(0, 0, 0, 0.1),
    0 0 7.3px rgba(0, 0, 0, 0.111),
    0 0 11.3px rgba(0, 0, 0, 0.126),
    0 0 20px rgba(0, 0, 0, 0.16);
  font-weight: 500;

  @media screen and (min-width: $breakpoint-sm) {
    padding: 40px;
  }

  @media screen and (min-width: $breakpoint-lg) {
    padding: 48px;
  }
}

#brands,
#contacts,
#about {
  scroll-margin-block: calc(var(--header-height) + 20px);
}
