@use './assets/scss/vars' as *;

:root {
  /* variables */
  --header-height: 64px;
  --content-padding-inline: 10px;
  --content-padding-block: 50px;
  --animation-duration: 400ms;
  --animation-shape: ease-out;
  --font-size: 18px;

  @media screen and (min-width: $breakpoint-sm) {
    --content-padding-inline: 24px;
  }

  @media screen and (min-width: $breakpoint-lg) {
    --content-padding-inline: 100px;
  }

  @media screen and (min-width: $breakpoint-xl) {
    --content-padding-inline: 150px;
  }

  @media screen and (min-width: $breakpoint-xxl) {
    --content-padding-inline: 200px;
  }

  /* colors */
  --c-dark: #383838;
  --c-gray: #888;
  --c-gray-2: #c2c2c2;
  --c-dark-2: #232323;
  --c-white: #fff;
  --c-white-2: #eee;
  --c-black: #000;
  --c-light-blue: #40a9ff;
  --c-light-bg: rgba(255, 255, 255, 0.7);
  --c-light-blue-3: #005ba6;
  --c-blue: #001529;
  --c-blue-2: #002952;
  --c-error: #f00;

  /* z-index */
  --z-index-header: 100;
}

body {
  //background: rgba(220, 227, 255, 0.85);
  background-image: url("./assets/i/lights.webp");
  background-size: cover;
  background-attachment: fixed;
  font-size: var(--font-size);
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 700;
  margin-bottom: 1.5em;
  font-size: 2em;
}

/* =========== Antd =========== */

.ant-menu.ant-menu-dark > .ant-menu-item:hover,
.ant-menu.ant-menu-dark {
  background: transparent;
}

.ant-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.ant-form-item-control input[mask] {
  font-family: monospace, sans-serif;
}

.ant-form-item-has-error {
  input {
    color: #ff4d4f;
  }
}

/* ============================ */

a:hover,
a:focus {
  color: #1717e1;
}

a:active {
  color: #080881;
}

#brands,
#contacts,
#rent {
  scroll-margin-block: calc(var(--header-height) + 20px);
}
