*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

:root {
  /* variables */
  --header-height: 64px;

  /* z-index */
  --z-index-navbar: 100;
}

h2 {
  font-weight: bold;
}

.ant-layout {
  background-color: #fff;
}

ul {
  padding-left: 20px;
}
