*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* variables */
  --header-height: 64px;

  /* colors */
  --c-dark: #383838;
  --c-gray: #888;
  --c-dark-2: #232323;
  --c-light: rgba(255, 255, 255, 0.76);

  /* z-index */
  --z-index-navbar: 100;
}

body {
  font-family: 'Montserrat', sans-serif;
  perspective: 800px;
  font-size: 12px;
  background-image: url(./assets/i/bg.png);
  background-attachment: fixed;
}

*::selection {
  background: rgba(0, 0, 0, 0.58);
  color: white;
}

@media screen and (min-width: 992px) {
  body {
    font-size: 14px;
  }
}

h2 {
  font-weight: bold;
}

.ant-layout {
  background-color: transparent;
}

ul {
  padding-left: 20px;
}

.ant-menu.ant-menu-dark {
  background: transparent;
}

.ant-menu.ant-menu-dark > .ant-menu-item:hover {
  background: transparent;
}

.ant-layout-header {
  background: var(--c-dark-2);
}

.ant-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
