.callback {
  padding: 64px 0;

  h2 {
    text-align: center;
  }

  .viewport-container {
    will-change: opacity, transform;

    &_invisible {
      opacity: 0;
      transform: translateX(-50px);
    }

    &_visible {
      animation: callback-animation var(--animation-duration) ease;
    }
  }
}

@keyframes callback-animation {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
