.callback {
  h2 {
    text-align: center;
  }

  .card {
    &_hidden {
      opacity: 0;
      transform: translateX(-200px);
    }

    &_visible {
      animation: callback-animation 0.4s ease;
    }
  }
}

@keyframes callback-animation {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
